<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Floating label" [(ngModel)]="n1"  labelPlacement="floating" placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Floating label" [(ngModel)]="n2" labelPlacement="floating" placeholder="Enter text"></ion-input>

    <ion-button expand="block" (click)="somar()">somar</ion-button>
    <ion-label>{{res}}</ion-label>
  </ion-item>
</ion-content>
